<div class="pagination-centered span4">
  <div>
    <form class="form form-horizontal">
      <div class="contol-group">
        <label class="control-label" for="userame">Username : </label>
        <div class="controls">
          <input id="username" type="text" ng-model="username">
        </div>
      </div><br>
      <div class="contol-group">
        <label class="control-label" for="password">Password : </label>
        <div class="controls">
          <input id="password" type="password" ng-model="password">
        </div>
      </div><br>
      <div class="controls">
        <button class="btn btn-success login" ng-click="login()">Login</button>
      </div>
    </form>
  </div>
</div>